{{! Handlebars specifically for the landing page for new users }}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/main.css">
</head>
<div class="navbar">
	<div class="nav-left">
		<img src="../public/LogoB.png" class="logo" />
		<span class="brand-text">GitMatches</span>
	</div>
	<a href="/auth/login" class="joinlogin" >Join or Login</a>
</div>

<header class="headerbg">
	<h1>GitMatches</h1>
	<div class="message-container">
		<div class="messageleft">Connecting Developers to </div>
		<div class="messageright">Open Source Projects </div>
	</div>
</header>
<div class="container">
	<div class="leftStats">
		<p>Add completed projects stats</p>
		<p>As well as possibly some more stats in general</p>
		<P>And make it look pretty - add a graph, perchance</P>
		<ul>
			<li>{{stats.numProjectsActive}} active projects</li>
			<li>{{stats.numProjectsCompleted}} completed projects</li>
			<li>{{stats.numUsers}} users</li>
			<li>Oldest active post: {{stats.oldestPost}}</li>
			<li>Newest active post: {{stats.newestPost}}</li>
		</ul>
	</div>
	<div class="centerInfo">
		<p>Welcome to GitMatches, your source for finding high quality, open source
			projects for you to collaborate on with other developers.</p>

	</div>
	<div class="rightStats">
		<div class="userTagsChart" id="userTagsChart" data-chart-data='{{json userChartData}}'></div>
		<div class="postTagsChart" id="postTagsChart" data-chart-data='{{json postChartData}}'></div>
	</div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/public/js/renderCharts.js"></script>