{{! Handlebars specifically for the landing page for new users }}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/main.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<div class="navbar">
	<div class="nav-left">
		<a href="/"><img src="../public/LogoB.png" class="logo" /></a>
		<a href="/" class="brand-text">GitMatches</a>
	</div>
	<a href="/auth/login" class="joinlogin" >Join or Login</a>
</div>

<header class="headerbg">
	<h1>GitMatches</h1>
	<div class="message-container">
		<div class="messageleft">Connecting Developers to </div>
		<div class="messageright">Open Source Projects </div>
	</div>
</header>
<div class="container">
	<div class="leftStats">
		<ul>
			<li>{{stats.numProjectsActive}} active projects</li>
			<li>{{stats.numProjectsCompleted}} completed projects</li>
			<li>{{stats.numUsers}} users</li>
			<li>Oldest active post: {{stats.oldestPost}}</li>
			<li>Newest active post: {{stats.newestPost}}</li>
			<div class="chart">
  			<canvas id="projectChart"></canvas>
			</div>
		</ul>
	</div>
	<div class="centerInfo">
		<div class="centerInfo">
			<h2 class="headline">Welcome to GitMatches</h2>
			<p>Your source for finding high-quality, open-source projects to collaborate on with fellow developers.</p>
			<p>GitMatches intelligently matches you with open-source projects based on GitHub activity, skills, and resume data, making collaboration seamless.</p>
			<p>Whether you're looking to join a project, find contributors, or expand your developer network, GitMatches is here to help you build meaningful connections.</p>
			<br>
			<a href="/auth/login" class="cta-button">Join Now</a>
		</div>
	</div>
	<div class="rightStats">
		<div class="userTagsChart" id="userTagsChart" data-chart-data='{{json userChartData}}'></div>
		<div class="postTagsChart" id="postTagsChart" data-chart-data='{{json postChartData}}'></div>
	</div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/public/js/renderCharts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script>
    const ctx = document.getElementById('projectChart').getContext('2d');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Active Projects', 'Completed Projects'],
        datasets: [{
          data: [{{stats.numProjectsActive}}, {{stats.numProjectsCompleted}}],
          backgroundColor: ['#1A73E8', '#8A6BF8'],
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom'
          }
        }
      }
    });
  </script>