{{! Handlebars specifically for the landing page for new users }}
<div class="navbar">
	<div class="nav-left">
		<img src="../public/LogoB.png" class="logo" />
		<span class="brand-text">GitMatches</span>
	</div>
	<a href="/auth/login">Join or Login</a>
</div>

<header class="headerbg">
	<h1>GitMatches</h1>
	<div class="message-container">
		<div class="messageleft">Connecting Developers to </div>
		<div class="messageright">Open Source Projects </div>
	</div>
</header>
<div class="container">
	<div class="leftStats">
		<ul>
			<li>{{stats.numProjects}} Projects</li>
			<li>{{stats.numUsers}} Users</li>
			<li>Top project tags:
				<ul>
					{{#each stats.topPostTags}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			</li>
			<li>
				Top user tags:
				<ul>
					{{#each stats.topUserTags}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			</li>
			<li>Oldest Post: {{stats.oldestPost}}</li>
			<li>Newest Post: {{stats.newestPost}}</li>
		</ul>
	</div>
	<div class="centerInfo">
		<p>Welcome to GitMatches, your source for finding high quality, open source
			projects for you to collaborate on with other developers.</p>

	</div>
	<div class="rightStats">
		<p>Need to get active/completed project stats here</p>
	</div>
</div>
