{{! Handlebars for the user profile page }}
{{> navbar}}
<div class="container">
    <div class="leftSide">
        <img src="" alt="{{user.user_name}}">
        <h1>{{user.user_name}}</h1>
        <a href="">Resume</a>
        <p>Achievements</p>
        <ol>
            {{#each user.achievements}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
    <div class="centerArea">
        <ol class="tagsList">
            {{#each user.skill_tags}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
        <ol class="projectsList">
            {{#each user.projects}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
        <div class="manageLinks">
            <a href="/{{user.id}}/edit">Edit Profile</a>
            <a href="/{{user.id}}/projects">Manage Projects</a>
        </div>
    </div>
    <div class="rightSide">
        <ol class="friendsList">
            {{#each user.friends}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
</div>