{{! Handlebars for the user profile page }}
{{> navbar}}
<div class="container">
    <div class="leftSide">
        <img src="" alt="{{user.user_name}}">
        <h1>{{user.user_name}}</h1>
        <form action="/profile/{{user.id}}/resume" method="POST" enctype="multipart/form-data" name="resume-form" id="resume-form">
            <label for="resume">Upload Resume (PDF):</label>
            <input type="file" id="resume" name="resume" accept="application/pdf" required>
            <button type="submit">Upload</button>
        </form>
        <p>Achievements</p>
        <ul class="achievementsList">
            {{#if user.achievements.length}}
                {{#each user.achievements}}
                    <li>{{this}}</li>
                {{/each}}
            {{else}}
                <li>No achievements unlocked yet!</li>
            {{/if}}
        </ul>
    </div>
    <div class="centerArea">
        <p>Tags</p>
        <ul class="tagsList">
            {{#if user.skill_tags.length}}
                {{#each user.skill_tags}}
                    <li>{{this}}</li>
                {{/each}}
            {{else}}
                <li>No skill tags added yet.</li>
            {{/if}}
        </ul>
        <p>Projects</p>
        <ul class="projectsList">
            {{#if user.projects.length}}
                {{#each user.projects}}
                    <li>{{this}}</li>
                {{/each}}
            {{else}}
                <li>No projects yet.</li>
            {{/if}}
        </ul>
        <div class="manageLinks">
            <a href="/{{user.id}}/edit">Edit Profile</a>
            <a href="/{{user.id}}/projects">Manage Projects</a>
        </div>
    </div>
    <div class="rightSide">
        <p>Friends</p>
        <ul class="friendsList">
            {{#if user.friends.length}}
                {{#each user.friends}}
                    <li>{{this}}</li>
                {{/each}}
            {{else}}
                <li>It's a little lonely... no friends</li>
            {{/if}}
        </ul>
    </div>
</div>
<script src="/public/js/resumeUpload.js"></script>