{{! Handlebars for page about a specific project }}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
{{> navbar}}
<div class="container">
    <div class="leftSide">
        <h1>{{project.title}}</h1>
        <h2>Creator: <a href="/profile/{{project.ownerId}}" target="_blank" rel="noopener noreferrer">{{creatorUsername}}</a></h2>
        <h3>Created at {{project.createdAt}}</h3>
        <h3>Description</h3>
        <p>{{project.content}}</p>
        <a href="{{project.repoLink}}" target="_blank">GitHub Repository</a>
        {{!-- Likes --}}
        <button id="likeButton" data-project-id="{{project._id}}">
            Like
        </button>
        <span id="likeCount">{{project.likes.length}} Likes</span>
        {{!-- Comments --}}
        {{> commentsList comments=project.comments}}
        <form method="POST" action="/projects/{{project._id}}/comments">
            <textarea name="comment" placeholder="Add a comment..." required></textarea><br>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <div class="rightSide">
        <h2>Topic Tags</h2>
        <ol class="tagsList">
            {{#each project.topic_tags}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
        <!-- Collaborators Section -->
        <h2>Collaborators</h2>
        {{#if project.memberInfo.length}}
            <ul>
                {{#each project.memberInfo}}
                    <li>
                        <a href="/profile/{{this.id}}" target="_blank" >{{this.name}}</a>
                        {{!-- {{#if ../isOwner}} <!-- Only show the remove button if the user is the project owner -->
                            <button type="button" class="memberRemoveButton" referenceProject="{{../project._id}}" referenceMember="{{this.id}}" formaction="/projects/{{../project._id}}/removeMember/{{this.id}}" formmethod="POST">Remove</button>
                        {{/if}} --}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No collaborators yet.</p>
        {{/if}}
        <!-- project join/leave button -->
        {{#if isMember}}
        <!-- leave button -->
            <form method="POST" action="/projects/{{project._id}}/leave">
                <button type="submit">Leave {{project.title}}</button>
            </form>
        {{else}}
            <!-- join button -->
            <form method="POST" action="/projects/{{project._id}}/join">
                <button type="submit">Apply to join {{project.title}}</button><br>
                <textarea name="text" placeholder="Add an additional message..."></textarea>
            </form>
        {{/if}}
    </div>
</div>
<script src="/public/js/comment.js"></script>
<script src="/public/js/like.js"></script>