{{! Handlebars for page about a specific project }}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
{{> navbar}}
<div class="container">
    <div class="leftSide">
        <h1>{{project.title}}</h1>
        <h2>Creator: {{creatorUsername}}</h2>
        <h3>Created at {{project.createdAt}}</h3>
        <h3>Description</h3>
        <p>{{project.content}}</p>
        <a href="{{project.repoLink}}" target="_blank">GitHub Repository</a>
        {{!-- Likes --}}
        <form method="POST" action="/projects/{{project._id}}/like">
            <button type="submit">Like</button>
        </form>
        <span>{{project.likes}} Likes</span>
        {{!-- Comments --}}
        {{> commentsList comments=project.comments}}
        <form method="POST" action="/projects/{{project._id}}/comments">
            <textarea name="comment" placeholder="Add a comment..." required></textarea><br>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <div class="rightSide">
        <h2>Topic Tags</h2>
        <ol class="tagsList">
            {{#each project.topic_tags}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
</div>
<script src="/public/js/comment.js"></script>