{{! Handlebars for page about a specific project }}
{{> navbar}}
<div class="container">
    <div class="leftSide">
        <h1>{{project.title}}</h1>
        <h2>Creator: {{project.creator}}</h2>
        <h3>Created at {{project.createdAt}}</h3>
        <h3>Description</h3>
        <p>{{project.description}}</p>
        <a href="{{project.repoLink}}" target="_blank">GitHub Repository</a>
        {{!-- Likes --}}
        <form method="POST" action="/projects/{{project.id}}/like">
            <button type="submit">Like</button>
        </form>
        <span>{{project.likes}} Likes</span>
        {{!-- Comments --}}
        {{#if project.comments}}
            <ul>
                {{#each project.comments}}
                    <li>
                        {{this.author}}: {{this.text}}
                        <span>({{this.createdAt}})</span>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No comments yet.</p>
        {{/if}}
        <form method="POST" action="/projects/{{project._id}}/comments">
            <textarea name="comment" placeholder="Add a comment..." required></textarea><br>
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <div class="rightSide">
        <h2>Topic Tags</h2>
        <ol class="tagsList">
            {{#each project.topic_tags}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
</div>